/* Global */
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
}

main {
  margin: 0 auto 0 auto;
  max-width: 900px;
}

/* Navbar */
nav {
  margin-bottom: 20px;
  background-color: #272822;
}

nav ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: 900px;
}

nav li {
  float: left;
}

nav li.right {
  float: right;
}

nav li a {
  width: 70px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #000000;
}

nav li a:hover.active {
  background-color: #f8f8f2;
}

.active {
  color: #272822;
  background-color: #fff;
}

/* Input boxes */
input[type=text], input[type=password] {
  width: 100%;
  padding: 9px 14px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Buttons */
.btn-blue {
  font-size: 18px;
  background-color: #66d9ef;
  color: white;
  margin: 15px 0;
  height: 37px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Flash */
/* the messages are inside of a div */
.error {
  font-size: 18px;
  color: #fff;
  height: 37px;
  text-align: center;
  background-color: #f92772;
  margin-bottom: 30px;
}

.error p{
  padding-top: 5px;
}

.success {
  font-size: 18px;
  color: #fff;
  height: 37px;
  text-align: center;
  background-color: #a6e22d;
  margin-bottom: 30px;
}

.success p{
  padding-top: 5px;
}

/* Posts */
div.post h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0px;
}

div.post h3 {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-right: 8px;
}

div.post a {
  text-decoration: none;
  color: #272822;
}

div.post a:hover {
  text-decoration: underline;
  color: #272822;
}

div.post p {
  font-weight: 400;
  margin-top: 2px;
}

div.post ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

div.post li {
  float: left;
}

li#author {
  text-decoration: underline;
  font-weight: 900px
}

li#author:hover {
  text-decoration: none;
}
