/* global setting */
html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
}

main {
  margin: 0 auto 0 auto;
  max-width: 70vw;
}

nav {
  margin-bottom: 20px;
  background-color: #272822;
}

a {
  text-decoration: none;
  width: 70px;
}


/* navbar */
ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: 70vw;
}

li {
  float: left;
}

li.right {
  float: right;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

li a:hover.active {
  background-color: #f8f8f2;
}

.active {
  color: #272822;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  main {
    max-width: 80vw;
  }
}

@media screen and (max-width: 500px) {
  ul {
    max-width: 100%;
  }
  main {
    max-width: 90vw;
  }
}

/* registration */
input[type=text], input[type=password] {
  width: 100%;
  padding: 9px 14px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.registerbtn {
  font-size: 18px;
  background-color: #66d9ef;
  color: white;
  margin: 15px 0;
  height: 37px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* flash */
.error {
  font-size: 18px;
  color: #fff;
  height: 37px;
  text-align: center;
  background-color: #f92772;
  margin-bottom: 30px;
}

.error p{
  padding-top: 5px;
}

.success {
  font-size: 18px;
  color: #fff;
  height: 37px;
  text-align: center;
  background-color: #a6e22d;
  margin-bottom: 30px;
}

.success p{
  padding-top: 5px;
}