/* Global */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 950px;
}

main {
  margin-left: 16px;
  margin-right: 16px;
}


.btn{
  color: #000;
  background-color: #fff;
  margin: 13px 0;
  padding: 0;
  height: 37px;
  border: none;
  border-bottom: 2px solid #000;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}

/* navbar */
nav {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li.right {
  float: right;
}

nav li a {
  display: block;
  color: #000;
  text-align: center;
  margin: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  border-bottom: 2px solid transparent;
}

nav li a:hover {
  border-bottom: 2px solid #000;
}

.active {
  border-bottom: 2px solid #000;
}

/* Posts */
div.container {
  padding-top: 50px;
}

/* Post */
div.post {
  margin-bottom: 50px;
}

div.post a {
  color: #000;
  text-decoration: none;
}

div.post a:hover {
  text-decoration: underline;
}

div.post h2 {
  margin: 0 auto 0 auto;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

div.post h3 {
  margin: 3px auto 9px auto;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
}

div.post p {
  margin: 0 auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

/* Forms */
label {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px 0 2px 0;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}


/* Table */
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: left;
}


td a {
  color: #000;
  text-decoration: none;
}

td.right {
  text-align: right;
}

.danger {
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
