<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Useless Blog</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Noto+Sans|Overpass|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/main.js"></script>
    <script src="//cdn.ckeditor.com/4.11.4/basic/ckeditor.js"></script>
  </head>
  <body>

    <!-- navbar begin -->
    <nav class="topnav" id="topnav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <a class="{% if active == 'posts' %}active{% endif %}" href="/">Posts</a>
      {% if session.logged_in %}
      <a class="{% if active == 'feed' %}active{% endif %}" href="/feed">Feed</a>
      {% endif %}
      <a class="{% if active == 'about' %}active{% endif %}" href="/about">About</a>
      {% if session.logged_in %}
        <div class="dropdown">
          <button id="dropbtn" class="{% if active == 'account' %}active{% endif %}">{{ session['name'] }}</button>
          <div class="dropdown-content">
            <a class="action" href="{{ url_for('account', id=session['user_id']) }}">Account</a>
            <a href="/logout">Log out</a>
          </div>
        </div>
        <a id="right" class="{% if active == 'editor' %}active{% endif %}" href="/editor">Editor</a>
      {% else %}
        <a id="right" class="{% if active == 'login' %}active{% endif %}" href="/login">Log in</a>
        <a id="right" class="{% if active == 'register' %}active{% endif %}" href="/register">Sign up</a>
      {% endif %}
    </nav> 
    <!-- navbar end -->

    <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div id="flash" class="{{ category }}">
          <p>
            {{ message }}
          </p>
        </div>
      {% endfor %}
    {% endwith %}
    <!-- flash message -->

    <main>
      <!-- body content -->
      {% block body %}
      {% endblock %}
      <!-- body content -->
    </main>

    <script charset="utf-8">
      function myFunction() {
        var x = document.getElementById("topnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>

  </body>
</html>
