{% extends "base.html" %}

{% block body %}
  <div class="container">
    <form method="post">
      <ul>
        <li><h2>Change password</h2></li>
      </ul>
      <label for="current_pass">Current password</label>
      <input type="password" name="current_pass" id="current_pass" required>

      <label for="new_pass">New password</label>
      <input type="password" name="new_pass" id="new_pass" required>
      <label for="confirm_new_pass">Confirm new password</label>
      <input type="password" name="confirm_new_pass" id="confirm_new_pass" required>
      <button type="submit" class="btn" value="Update">Update</button>
    </form>
  </div>
      
{% endblock body %}
